<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect to public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ /public/$1 [L,QSA]
    
    # Handle root access
    RewriteCond %{REQUEST_URI} ^/$
    RewriteRule ^ /public/index.php [L]
</IfModule>